/* file containing css for authentication panel */


#login{
  padding:10px 40px 20px 40px;
  margin: 0px auto;
  margin-top:100px;
  background-color:black !important;
  width:50%;
}

#login h3{
   text-align:left;
   font-size:18px !important;
   margin-bottom:5px !important;
}
#login h3+input{
  left:0;
  font-size:13px !important;
  width:150px !important;
  height:25px !important;
}
#login input:nth-child(2){
  margin-bottom:0px !important;
}
#login input:nth-child(2), input:nth-child(4){
  margin-bottom:30px;
  height:15px;
}
#login-submit{
  font-size:17px;
}

#authentication .submit
{
    left:-40px !important;
    padding: 5px 10px 5px 10px;
    color:white !important;
    text-shadow:1px 1px 1px #000;
    /* old browsers */
     background: -moz-linear-gradient(top, #B4CAFE 0%, #6d88b7 100%);
     /* firefox */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B4CAFE), color-stop(100%,#6d88b7));
     /* webkit */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=0 );
     /* ie */
}
