/*/////////////////////////////////*/
/*///////// Events Table //////////*/
/*/////////////////////////////////*/

#checkin h1{
  margin-top:-10px !important;
  margin-bottom:0px;
}
#checkin h2{
  width: 100% !important;
}

ul#events_ul {
  width:100%;
  text-align: left;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
#events_ul li{
  padding-left: 10px;
  padding-bottom: 10px;
  width:100%
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-repeat: repeat-x;
background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}

#currentEvents ul li h2{
  padding:0;
  font-size: 2em;
  margin:0;
  line-height: 1.3em;
  font-weight: normal;
  letter-spacing: -0.03em;
  color: #55678d;
}
#currentEvents ul li p.desc{
  color: #555;
  padding:0;
  margin:0;
  margin-bottom: 10px;
  font-size: 1.3em;
  white-space: nowrap;
  overflow: hidden;
}
#currentEvents ul li .price{
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  color: #6ea247;
  
}

