#events h1{
  margin-top:-10px !important;
  margin-bottom: 5px;
}

#addIcon{
  left:0 !important;
}

#addIcon:hover{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b6cdff), color-stop(1, #b6cdff) );
  background:-moz-linear-gradient( center top, #b6cdff 5%, #b6cdff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6cdff', endColorstr='#b6cdff');
  background-color:#b6cdff;
}
#addIcon:active{
  position:relative;
  top:1px;
}

#addEventSection {
  margin:0px auto;
  width: 70%;
}


#events form {
  text-align:left !important;
  padding: 20px  
  margin: 0px auto;
  background-color:black !important;
  font-size:15px;
}
  
#addEventForm input, #addEventForm select {
  width:150px !important;
}

#addEventForm select {
  display:block !important;
}

#addEventForm input:last-child { 
  width:50% !important;
}
 
#events-submit{
  font-size:18px;
}

.formspacing {
  margin:4px;
}

.label-display {
  display:block !important;
}
     
