.flash {
  position: absolute;
  width: 100% ;
  top:50px;
  text-align: center;
  color: white;
  background-color: red;
  font-weight: bold;
  font-size: 20px; 
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px;
}
