/* ============================ */
/* Viewports Smaller Than 980px */
/* ============================ */

@media screen and (max-width: 980px) {

	.pagewrap {
		width: 100%;
	}

	.container {
		width: 100%;
/*      padding: 3% 4%;*/
	}

/*  #sidebar {
        width: 30%;
    }
    #sidebar .widget {
        padding: 8% 7%;
        margin-bottom: 10px;
    }*/

}


/* ============================ */
/* Viewports Smaller Than 650px */
/* ============================ */

@media screen and (max-width: 650px) {

	#header {
		/*height: auto;*/
	}


	#main-nav {
		position: static;
	}

	#site-logo {
		margin: 15px 100px 5px 0;
		position: static;
	}

	#site-description {
		margin: 0 0 15px;
		position: static;
	}

	.container {
/*      width: auto;
        float: none;
        margin: 20px 0;*/
	}

}



/* ============================ */
/* Viewports Smaller Than 480px */
/* Portrait*/
/* ============================ */
/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
/*@media screen and (max-width: 480px) {*/

	html {
		-webkit-text-size-adjust: none;
	}

/*  #main-nav a {
        font-size: 90%;
        padding: 10px 8px;
    }*/

}


/* ============================ */
/* Viewports Smaller Than 480px */
/* Landscape*/
/* ============================ */
 @media only screen and (min-width: 480px) and (max-width: 767px) {

#footer li
{
    margin-left:50px;
}

#header {
    height: 80px;
    width:100%;
    background-color:#000;
}

#logo
{
    height:auto;
    width:100px; 
    position:relative;
    float:left;
}

#navbar
{
    height:30px;
}
#navbar li a
{
    padding:11px;
    padding-top:-5px !important;
}

h2
{
    margin-top:20px !important;
    font-size:40px !important;
}

.content
{
/*    padding-bottom:100px !important;*/
}

#sign-in, #logout
{
    font-size:20px !important;
    float:right;
    margin-right:30px;
}


#events .content div.large-icon
{
    left:60%; 
}

.large-icon h3
{

}
#events .content div.large-icon:nth-child(2) h3
{
    width:160px;
    position:relative;
    left:-45px;
}

#events .content div.large-icon h3
{
    font-size:20px !important;
    position:relative;
    width:130px;
}


#events .content div.large-icon:nth-child(3)
{
    position:absolute;
    top:42%;
    left:220%;
}

#events .content div.large-icon:nth-child(3) h3
{
    left:-20px;
}
 
 
 }
 