@font-face
{
    font-family:lato;
    src:url('../fonts/Lato-Lig.ttf');; 
}

@font-face
{
    font-family:nobile;
    src:url('../fonts/nobile.ttf');
}



body
{
    font-family:lato;
}

h1, h2, h3, h4
{
    font-family:nobile;
}


.pagewrap {
	width: 980px;
	height:100%;
	margin: 0 auto;
	background-color:white;

}

#header {
	height: 100px;
	width:100%;
	background-color:#000;
}

.container {
	width: 600px;
	float: left;
}

#content
{
    min-height:100%;
    height:auto !important;
    height:100%;
    padding-bottom:60px;
}


#footer {
    width:100%;
    bottom:0;
    position:absolute;
    background-color:black;
	clear: both;
	height:60px;
}

a
{
/*    font-family:lato;*/
    color:white;
}